.container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s;

}
.button:active{
    transform: scale(1.2);
}